body { 
    margin: 0px;
    /* background-color: #E8F9FD; */
    font-family: "Work Sans", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    height: 60px;
    position: fixed; /* This fixes the navbar at the top */
    top: 0;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 2px 4px lightgrey; 
    z-index: 2;
}

.div-nav { 
    display: flex;
    justify-content: space-evenly;
    /* background-color: aqua; */
    width: 300px;
}

.div-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 600px;
}

.logo {
    width: 50px;
    height: 50px;

}

.main-name {
     font-size: 18px;
}

.div-btn { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 40px;
    width: 100px;
    border: none;
    background-color: #387ADF;
    color: white;
    border-radius: 5px;
}

/* Keep the existing styles for larger screens */

@media only screen and (max-width: 500px) {
    /* Adjustments for screens under 500px */

    nav {
        flex-direction: column;
        height: auto;
    }

    .div-logo {
        padding: 10px 0;
        justify-content: center;
        align-items: center;
    }

    .div-nav {
        width: 100%;
        padding: 10px 0;
        justify-content: space-around;
    }

    .div-btn {
        padding: 10px 0;
    }

    .div-logo, .div-nav, .div-btn {
        border-bottom: 1px solid lightgrey;
    }
}


@media only screen and (max-width: 1069px) {
  
    nav {
        flex-direction: column;
        height: auto;
    }

    .div-logo {
        padding: 10px 0;
        justify-content: center;
        align-items: center;
    }

    .div-nav {
        width: 100%;
        padding: 10px 0;
        justify-content: space-around;
    }

    .div-btn {
        padding: 10px 0;
    }

    .div-logo, .div-nav, .div-btn {
        border-bottom: 1px solid lightgrey;
    }
}
